@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.woff2");
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-It.woff2");
  font-style: italic;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-BoldIt.woff2");
  font-weight: bold;
  font-style: italic;
}

/* OVERRIDES */

.codehilite {
  font-size: 14.5px;
  overflow: scroll;
}

th, td {
  padding-right: 0.5em;
}

h1, h2, h3, h4, h5, h6, h7 {
  line-height: 1em;
  color: #666;
}
h1.post-title, h1.title {
  color: #000;
}

code {
  font-family: 'Courier', monospace;
}

/* THEME STYLE */

body {
  /*background-color:#f00;*/
  margin: 0 auto;
  max-width: 700px;
  padding: 50px;

  line-height: 1.6em;
  font-family: 'Source Serif Pro', Garamond, Georgia, serif;
  font-size: 20px;
}

h1.post-title, h1.title {
  margin-block-end: 0.25em;
}

.date, .tags {
  font-style: italic;
  color: #999;
  margin-bottom: 0.67em;
}

.post-description {
  font-style: italic;
}

.post-summary {
  margin-bottom: 0.67em;
}

.tags a {
  color: #71bb54;
}
